*{
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.login{
    display: flex;
    flex-direction: row;
    &__picture{
        max-width: 50%;
        height: auto;
    }
    &__box{
        width: 50%;
        background-color: white;
    }
    &__content{
        padding: 20px;
        width: max-content;
        background-color: white;
        margin-top: 120px;
        margin-left: auto;
        margin-right: auto;
    }
    h1{
        margin: 10px 10px 30px 10px;
        text-align: center;
    }
    &__button{
        width: 320px;
        border-radius: 5px;
        height: 40px;
        text-align: center;
        color: #F9F9F9;
        background-color: #2F76C2;
        font-size: 14px;
        :hover{
            background-color: #3F5D8F;
        }
    }
}

.input{
    &__component{
        display: flex;
        flex-direction: column;
    }
    &__input{
        width: 300px;
        border-radius: 5px;
        height: 40px;
        padding-left: 20px;
        border: none;
        background-color: #F9F9F9;
        color: #707070;
        margin-bottom: 30px;
        font-size: 12px;
    }
    &__label{
        font-size: 14px;
        margin: 5px 5px 5px 5px;
    }
}