/* :root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
*/

*{
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

#root>.login{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
}

#root>.login>.login__picture>img{
  width: 100%;
}

#root>.login>.login__picture{
  overflow: hidden;
  height: 100%;
}
#root>.login>.login__box{
  display: grid;
  overflow: hidden;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}
#root>.login>.login__box>.login__container{
  display: grid;
  grid-template-rows: 1fr 2fr 2fr 3fr;
  justify-content: center;
  width: 345px;
  align-items: center;
}
#root>.login>.login__box>.login__container>h1{
  text-align: center;
}
#root>.login>.login__box>.login__container>.input__component{
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  width: 100%;
  width: 345px;
  align-items: end;
}
#root>.login>.login__box>.login__container>.input__component>input{
  height: 50px;
  background: #F9F9F9;
  color: #C8C8C8;
  border: none;
  border-radius: 5px;
  padding-left: 30px;
}
#root>.login>.login__box>.login__container>button{
  width: 345px;
  height: 50px;
  border-radius: 5px;
  background: #2F76C2;
  color: #F9F9F9;
  border: none;
  font-size: 16px;
}

/* ------------------------NAVBAR -------------------------- */

.app__container{
  display: grid;
  grid-template-columns: 1fr 5fr;
}

.app__container>.navbar{
  background: none;
  display: grid;
  align-items: center;
  width: 100%;
  padding-left: 20%;
}
.app__container>.navbar .navbar_button_logout{
  position: absolute;
  text-align: center;
}
.app__container>.navbar>.navlink{
  background: none;
  display: grid;
  grid-template-rows: repeat(6, 1fr);
}


.app__container>.navbar>.navlink .navbar_button{
  background: none;
  border: none;
  color: #3B475C;
  cursor: pointer;
  width: 70%;
  padding-left: 10px;
}
.app__container>.navbar>.navlink .navbar_button:hover{
  background: #ededed;
}


/* -------------------- CONTAINER ---------------------*/
.admin__box{
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr 1fr;
}

.admin__box>.admin__image{
  position: absolute;
  height: 100%;
}

/* ------------------- Content ------------------- */


.content{
  background: #F9F9F9;
}

/* ------------------- Choix ------------------- */

.input__select__select,.input__input{
  width: 200px;
  height: 40px;
  border: none;
  background: #ffffff;

}

.input__component,.input__select__box{
  display: grid;
  justify-content: end;
}

.content__inline{
  display: flex;
}


/* ----------------- Ajout Marque -------------------- */
body{
  height: 100%;
  background: #F9F9F9;
}
.app__container{
  height: 100%;
}

.add__marque__container{
  width: fit-content;
}

.add__box{
  background: none;
  padding-top: 30px;
}
.add__box>.add__btn{
  background: #2F76C2;
  color: #ffffff;
  width: 100%;
  height: 50px;
  border: none;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}
.add__box>h2{
  font-size: 26px;
  font-weight: 400;
  color: #3B475C;
}
.add__box>.form__add{
  display: grid;
  grid-template-rows: 1fr 2fr;
}
.add__box>.form__add>input{
  width: 475px;
  height: 50px;
  padding-left: 20px;
}











/*
button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.login__input{
  color: red;
  border-color: aquamarine;
}
*/